@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 1px solid #eee;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    display: inline-block;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    color: white;
    background-color: rgb(169, 0, 8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

input[type="file"],input[type="submit"] {
    display: none;
}
label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: rgba(0, 136, 169, 0.8);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;
}
.label2{
    right: 350px;
}
.label1{
    left: 350px;
}
.submitButton{
    height: 60px;
    width: 250px;
    position: absolute;
    margin: auto;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.resultExample{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 40%;
}
.exampleExcel{
    float: left;
    width: 45%;
}
.exampleWord{
    float: right;
    width: 45%;
}


