{% extends 'base.html' %}
{% block main %}
<h1>In excel file an article code must start with a letter character e.g. A1_A. In word file citation code must be inside double curly brackets, e.g. &#123&#123 A1_1 &#125&#125</h1>
<h1>
    <img class="exampleExcel" src="static/excelExample.png" alt="logo" width = "900" height = "400">
    <img class="exampleWord" src="static/wordExample.png" alt="logo" width = "900" height = "400">
    <img class="resultExample" src="static/resultExample.png" alt="logo" width = "900" height = "400">
</h1>
{% endblock %} 