<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test we flasku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <script src="https://kit.fontawesome.com/890641d35d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload"></i></div>
        <header>Drag & drop to upload file</header>
        <span>OR</span>
        <button>Browse file</button>
    </div>

    <script src="/static/script.js"></script>

</body>
</html>